<li>
<%= team_membership.id %>
  <%= player.name %>
  <%= player.passing_yards %>
  <%= player.passing_touchdowns %>
  <%= player.interceptions %>
  <%= player.rushing_yards %>
  <%= player.rushing_touchdowns %>
  <%= player.receptions %>
  <%= player.receiving_yards %>
  <%= player.receiving_touchdowns %>
  <%= player.points %>
  <%= player.inspect %>
  <%= link_to 'Remove Player', team_team_membership_path(@team, player.id), method: :delete %>
</li>
