<h2><%= current_user.email %></h2>
<p>
<h3><%= @team.name %></h3>

<ul>
  <%= render @team.players %>
</ul>

<p>
  <ul>
    <% @players.each do |player| %>
      <li>
        <%= player.name %>
        <%= player.passing_yards %>
        <%= player.passing_touchdowns %>
        <%= player.interceptions %>
        <%= player.rushing_yards %>
        <%= player.rushing_touchdowns %>
        <%= player.receptions %>
        <%= player.receiving_yards %>
        <%= player.receiving_touchdowns %>
        <%= player.points %>
        <%= form_for :team_membership, url: team_team_memberships_path(@team) do |form| %>
          <%= form.hidden_field :player_id, value: player.id %>
          <%= form.submit "Select player" %>
        <% end %>
      </li>
    <% end %>
  </ul>
</p>
