<li>
  <%= player.name %>
  <%= player.passing_yards %>
  <%= player.passing_touchdowns %>
  <%= player.interceptions %>
  <%= player.rushing_yards %>
  <%= player.rushing_touchdowns %>
  <%= player.receptions %>
  <%= player.receiving_yards %>
  <%= player.receiving_touchdowns %>
  <%= player.points %>
</li>
